In [11]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.4f}'.format

In [ ]:
import random

In [60]:
lista = []
for i in range(0, 5000):
    x = round(random.uniform(0.02, 167.58), 2)
    lista.append(x)
    
base_1 = pd.DataFrame(lista, columns={'A'})
base_1

            A
0     67.2300
1    160.1500
2     65.8200
3    149.8200
4     82.6700
...       ...
4995   5.4400
4996  60.8700
4997  66.7700
4998  70.7900
4999   1.7700

[5000 rows x 1 columns]

In [62]:
base_2 = pd.DataFrame(np.random.randint(1,167,size=(50000, 1)), columns=list('A'))
base_2

         A
0       73
1       93
2        8
3       83
4      118
...    ...
49995  149
49996  143
49997   16
49998    2
49999  162

[50000 rows x 1 columns]

In [ ]:
base = base_1
base = base_2

In [63]:
menor_c = base['A'].nsmallest(1).values[0]
menor_log_c = np.log10(menor_c)

print(menor_c)
print(menor_log_c)

0.03
-1.5228787452803376

In [64]:
maior_c = base['A'].nlargest(1).values[0]
maior_log_c = np.log10(maior_c)

print(maior_c)
print(maior_log_c)

167.52
2.2240666643347673

In [65]:
def indicador(x):
    y = 1 - ((np.log10(x) - menor_log_c) / (maior_log_c - menor_log_c))
    y = round(y, 4)
    return y

In [66]:
base['B'] = base['A'].apply(lambda x: indicador(x))
base

            A      B
0      6.8000 0.3714
1      8.2900 0.3484
2     69.7300 0.1016
3    151.0900 0.0120
4    129.2700 0.0300
...       ...    ...
4995  76.1500 0.0914
4996 116.2300 0.0424
4997   4.7600 0.4127
4998  15.6100 0.2751
4999  58.5400 0.1219

[5000 rows x 2 columns]

In [67]:
base['B'].describe()

count   5,000.0000
mean        0.1151
std         0.1174
min         0.0000
25%         0.0322
50%         0.0794
75%         0.1585
max         1.0000
Name: B, dtype: float64