In [12]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

In [13]:
base = pd.read_excel(r'E:\Documentos\bases\indice_conectar\indicador_conectar_JAN-2022.xlsx', dtype={'COD': str})
base = base[['COD', 'UF', 'NOME DO MUNICÍPIO', 'pop_2020', 'População_IC']]

In [14]:
adm = pd.read_excel(r'E:\Documentos\bases\cadastro\Controle 2021 - Definitiva.xlsx', dtype={'COD IBGE': str})

In [15]:
base_a = pd.merge(base, adm[['COD IBGE', 'STATUS', 'PGTO 2021', 'VALOR ANUAL']], left_on='COD', right_on='COD IBGE')

In [39]:
base_a.to_excel('estudo_2.xlsx', index=False)

In [16]:
base_a = base_a.replace(np.nan, 'Não')
base_a = base_a.replace('X', 'Sim')

In [17]:
base_a['PGTO 2021'].value_counts()

Não    1944
Sim     190
Name: PGTO 2021, dtype: int64

In [18]:
base_a

,COD,UF,NOME DO MUNICÍPIO,pop_2020,População_IC,COD IBGE,STATUS,PGTO 2021,VALOR ANUAL
0,1100023,RO,Ariquemes,109523,"339,017.52",1100023,PARTICIPANTE,Não,"7,400.04"
1,1100106,RO,Guajará-Mirim,46556,"155,215.12",1100106,PARTICIPANTE,Não,"6,699.96"
2,1100122,RO,Ji-Paraná,130009,"470,348.40",1100122,PARTICIPANTE,Não,"7,749.96"
3,1100205,RO,Porto Velho,539354,"1,389,425.15",1100205,PARTICIPANTE,Não,"15,900.00"
4,1100940,RO,Cujubim,26183,"90,329.81",1100940,DESISTENTE,Não,"6,350.04"
...,...,...,...,...,...,...,...,...,...
2129,5220058,GO,São João da Paraúna,1345,"2,057.77",5220058,PARTICIPANTE,Não,"6,000.00"
2130,5220108,GO,São Luís de Montes Belos,34157,"98,334.56",5220108,PARTICIPANTE,Não,"6,399.96"
2131,5220157,GO,São Luiz do Norte,5215,"11,686.27",5220157,PARTICIPANTE,Não,"6,000.00"
2132,5221403,GO,Trindade,129823,"438,665.32",5221403,PARTICIPANTE,Não,"7,749.96"
2133,5221502,GO,Turvânia,4564,"9,946.28",5221502,PARTICIPANTE,Não,"6,000.00"

In [19]:
custo_anual_pagante = base_a[base_a['PGTO 2021'] == 'Sim']['VALOR ANUAL'].sum()

In [20]:
custo_anual_pagante

1633749.6

In [23]:
doacao_total = 4000000

In [24]:
restante_1 = doacao_total - custo_anual_pagante
restante_1

2366250.4

In [33]:
custo_total_pequenos = base_a[(base_a['VALOR ANUAL'] == 6000) & (base_a['PGTO 2021'] == 'Não')]['VALOR ANUAL'].sum()
custo_total_pequenos

7758000.0

In [37]:
custo_200_pequenos = 200 * 6000
custo_200_pequenos

1200000

In [38]:
custo_100_pequenos = 100 * 6000
custo_100_pequenos

600000